{{- $name := "" -}}
{{- $email := "" -}}
{{- $github := "" -}}
{{- $tz := "" -}}

{{- with (index . "user") -}}
{{-   with (index . "name") -}}{{- $name = . -}}{{- end -}}
{{-   with (index . "email") -}}{{- $email = . -}}{{- end -}}
{{-   with (index . "github") -}}{{- $github = . -}}{{- end -}}
{{-   with (index . "tz") -}}{{- $tz = . -}}{{- end -}}
{{- end -}}


{{- $noagent := true -}}
{{- $authorized_keys := "" -}}
{{- $config := "" -}}

{{- with (index . "ssh") -}}
{{-   with (index . "no_agent") -}}{{- $noagent = . -}}{{- end -}}
{{-   with (index . "authorized_keys") -}}{{- $authorized_keys = . -}}{{- end -}}
{{-   with (index . "config") -}}{{- $config = . -}}{{- end -}}
{{- end -}}

{{- if (eq $name "") -}}
{{-   $name = promptString "Display Name" -}}
{{- end -}}

{{- if (eq $email "") -}}
{{-   $email = promptString "Email Address" -}}
{{- end -}}

{{- if (eq $github "") -}}
{{-   $github = promptString "GitHub ID (for importing authorized ssh keys)" -}}
{{- end -}}

{{- if (eq $tz "") -}}
{{-   $tz = "America/Phoenix" -}}
{{- end -}}

[data]

  [data.user]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github = {{ $github | quote }}
    tz = {{ $tz | quote }}

  [data.ssh]
    no_agent = {{ $noagent }}
    authorized_keys = [{{ with $authorized_keys}}{{ range . }}
      {{ . | quote }},{{ end }}
    {{ end }}]

    config = """
{{ $config }}"""
