{{- $name := "" -}}
{{- $email := "" -}}
{{- $github := "" -}}
{{- $tz := "" -}}

{{- with (index . "user") -}}
{{-   $name = index . "name" -}}
{{-   $email = index . "email" -}}
{{-   $github = index . "github" -}}
{{-   $tz = index . "tz" -}}
{{- end -}}


{{- $noagent := false -}}
{{- $authorized_keys := "" -}}
{{- $config := "" -}}

{{- with (index . "ssh") -}}
{{-   if (hasKey . "no_agent") -}}
{{-     $noagent = get . "no_agent" -}}
{{-   end -}}
{{-   $authorized_keys = index . "authorized_keys" -}}
{{-   $config = index . "config" -}}
{{- end -}}

{{- if (eq $name "") -}}
{{-   $name = promptString "Display Name" -}}
{{- end -}}

{{- if (eq $email "") -}}
{{-   $email = promptString "Email Address" -}}
{{- end -}}

{{- if (eq $github "") -}}
{{-   $github = promptString "GitHub ID (for importing authorized ssh keys)" -}}
{{- end -}}

{{- if (eq $tz "") -}}
{{-   $tz = "America/Phoenix" -}}
{{- end -}}

[data]

  [data.user]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github = {{ $github | quote }}
    tz = {{ $tz | quote }}

  [data.ssh]
    no_agent = {{ $noagent }}
    authorized_keys = [{{ with $authorized_keys}}{{ range . }}
      {{ . | quote }},{{ end }}
    {{ end }}]

    config = """
{{ $config }}"""
