{{- with (index . "user") -}}
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}{{ with (index . "gpg_key_id") }}
	signingkey = {{ . | quote }}

[commit]
	gpgsign = true{{ end }}

{{ end -}}
[core]
	excludesfile = ~/.local.gitignore
	ignorecase = false

[init]
	defaultBranch = main

[pull]
	ff = only
	rebase = true

[rebase]
	autoStash = true

[push]
	default = simple
	autoSetupRemote = true

[apply]
	whitespace = fix

[diff "pdf"]
	textconv = pdftostdout

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
	insteadOf = gh:

[http]
	cookiefile = {{ .chezmoi.homeDir }}/.gitcookies

[include]
	path = .git.aliases
	path = .local.gitconfig

# vi:se ai noet ts=4 sw=4 ft=gitconfig:
