{{- with (index . "user") -}}
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}{{ with (index . "gpg_key_id") }}
	signingkey = {{ . | quote }}

[commit]
	gpgsign = true{{ end }}

{{ end -}}
[core]
	excludesfile = ~/.local.gitignore
	ignorecase = false

[init]
	defaultBranch = main

[fetch]
	fsckobjects = true

[pull]
	ff = only
	rebase = true

[push]
	default = simple
	autoSetupRemote = true
	followtags = true

[apply]
	whitespace = fix

[merge]
	conflictstyle = zdiff3
	keepbackup = false

[rerere]
	enabled = true

[rebase]
	autoStash = true

[diff]
	algorithm = histogram
	submodule = log

[diff "pdf"]
	textconv = pdftostdout

[transfer]
	fsckobjects = true

[receive]
	fsckObjects = true

[status]
	submoduleSummary = true

[submodule]
	recurse = true

[log]
	date = iso

[format]
	pretty = %C(cyan)%G? %Creset%C(auto)%h%Creset %C(auto)%D%Creset %s %C(dim cyan)(%cr)%Creset %C(dim green)%aN <%aE>%Creset

[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
	insteadOf = gh:

[help]
	autocorrect = 10

[http]
	cookiefile = {{ .chezmoi.homeDir }}/.gitcookies

[include]
	path = .git.aliases
	path = .local.gitconfig

# vi:se ai noet ts=4 sw=4 ft=gitconfig:
