{{- with (index . "user") -}}
[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

{{ end -}}
[core]
  excludesfile = ~/.local.gitignore

[init]
  defaultBranch = main

[pull]
  ff = only

[push]
  default = simple

[apply]
  whitespace = fix

[diff "pdf"]
  textconv = pdftostdout

[format]
  pretty = %C(bold red)%h%Creset %C(white)%ad%Creset %Cgreen%aN%Creset %C(bold normal)%s%Creset %C(auto)%d%Creset

[http]
  cookiefile = {{ .chezmoi.homeDir }}/.local/.gitcookies

[log]
  abbrevCommit = true
  date = relative
  decorate = auto

[include]
  path = .git.aliases
  path = .local.gitconfig

