{{ with (index . "ssh") }}{{ with (index . "authorized_keys") }}{{ range . }}{{ . }}
{{ end }}{{ end }}{{ end }}{{ with (index . "user") }}{{ with (index . "github") }}{{ range (gitHubKeys .) }}{{ .Key }}
{{ end }}{{ end }}{{ end -}}
