{{ with (index . "ssh") }}{{ with (index . "authorized_keys") }}{{ range . }}{{ . }}
{{ end }}{{ end }}{{ end }}{{ with (index . "user") }}{{ range (gitHubKeys .github) }}{{ .Key }}
{{ end }}{{ end -}}
